@import "../../styles/variables";

.calendar {
  width: 290px;
  padding-top: 30px;
  margin-left: 230px;
}

.nav {
  width: 130px;
  margin: 0 auto;
}

.month {
  opacity:0.69;
  font-family: Roboto, sans-serif;
  font-size:14px;
  color: #000000;
  letter-spacing:0.07px;
  text-align:left;
  margin: 0 13px;
  position: relative;
  top: -7px;
  text-transform: uppercase;
}

.arrow {
  padding: 5px;
}

.rightArrow {
  transform: rotate(180deg);
}