@import '../../styles/variables';

.container {
  background-color: #45496B;
  float: left;
  width: 200px;
  min-height: 100vh;
}

.avatarContainer {
  width: 66px;
  margin: 23px auto 0;
  padding: 1px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.avatar {
  width: 66px;
  height: 66px;
}

.menu {
  width: 85px;
  margin: 5px auto;
  height: 24px;
}

.settings {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: #4F5378;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  float: left;
  padding: 0;
}

.upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload + label {
  background-color: #4F5378;
  display: block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  float: right;
}

.img {
  margin: 3px 0 0 3px;
}

.nav {
  width: 100%;
  margin-top: 40px;
}

.item {
  width: 100%;
  background-color: transparent;
  border-left: 4px solid #45496B;
  height: 46px;
  box-sizing: border-box;
  display: block;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-left: 4px solid #F6CF31;
}
.item:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.schedule,
.clients {
  float: left;
  margin: 15px 0 0 20px;
}

.text {
  font-size: 16px;
  float: left;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  margin: 14px 0 0 20px;
}

.number {
  float: right;
  margin: 15px 25px 0 0;
  color: rgba(255, 255, 255, 0.8);
}